
.entity {
    background: black;
    height: 10px;
    width: 10px;
    position: relative;
    left: 90px;
    top: 90px;
}

.container {
    width: 210px;
    height: 210px;
    border: 1px solid;
}

