
.entity {
    background: black;
    height: 20px;
    width: 20px;
    position: relative;
    left: 100px;
    top: 90px;
}

.container {
    width: 220px;
    height: 220px;
    border: 1px solid;
}

